<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="mainWeb">
        <div>
            <h1 class="title">请选择风格！</h1>
            <h6 class="title">不同风格对应不同的源码，最终呈现源码以及编译实现效果</h6>
        </div>
        <div class="buttonDiv">
            <button class="showButton" onclick="window.location.href='zhuchengxu'">主程序-子程序风格演示功能</button>
            <button class="showButton" onclick="window.location.href='mianxiangduixiang'">面向对象风格演示功能</button>
            <button class="showButton" onclick="window.location.href='shijian'">事件风格演示功能</button>
            <button class="showButton" onclick="window.location.href='guandao'">管道风格演示功能</button>
        </div>
    </div>
</body>
</html>