<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
    window.onload = function() {
        var h2Element = document.getElementById('text');
        h2Element.textContent = text;
    }
    let text = "package com.beetles.ruanjiantixijiegoutest2sys.controller.guandao;\n" +
        "import java.util.ArrayList;\n" +
        "import java.util.List;\n" +
        "import java.util.stream.IntStream;\n" +
        "/**\n" +
        " * @author beetles\n" +
        " * @date 2024/10/15\n" +
        " * @Description\n" +
        " */\n" +
        "public class guandao {\n" +
        "    public int math(int num) {\n" +
        "        IntStream.range(2, 100)\n" +
        "                .filter(guandao::isPrime)\n" +
        "                .forEach(System.out::println);\n" +
        "        return 25;\n" +
        "    }\n" +
        "    private static boolean isPrime(int number) {\n" +
        "        return number > 1 && IntStream.range(2, (int) Math.sqrt(number) + 1)\n" +
        "                .noneMatch(i -> number % i == 0);\n" +
        "    }\n" +
        "}\n";



    function inputButton() {
        var i =0;
        $.ajax({
            type:"GET",
            url:"http://localhost:8080/guandao/math",
            // data: {
            //     value: i // 将要传递的值放在一个对象中
            // },
            success: function(data){
                console.log("success");
                console.log(data);
                const resultData = document.getElementById('result');
                resultData.textContent = data;
            },
            error: function(data){
                console.log("error");
            }
        });
    }


    // var button = document.getElementById("inputButton1");
    // button.addEventListener('click', inputButton);
</script>
<div class="mainWeb">
    <p style="display: flex; justify-content: center;">管道风格</p>
    <button id="inputButton1" onclick="inputButton()">计算100内素数个数</button>
    <h2>结果为：<p id="result"></p></h2>
</div>
<div style="display: flex; justify-content: center;">
    <p>代码演示：</p>
    <pre><code id="text"></code></pre>
</div>
</body>
</html>